body {
  font-family: Lucida, monospace;
}

section {
  padding: 0.2%;
}

p {
  padding-right: 40%;
}

table {
  border: 1px solid black;
  border-spacing: 0px;
}

td {
  border: 1px solid black;
  text-align: center;
  min-width: 30px;
  padding: 4px;
  background-color: #4997d0;
}

.coords {
  background-color: #4f666a;
  text-align: center;
}

.title {
  font-size: 2.2em;
  font-weight: bold;
}

.subtitle {
  font-size: 1.2em;
  /* font-style: italic; */
}

#died {
  color: red;
}

.board {
  font-size: 1.5em;
}

.board_div {
  float: left;
}

.score_div {
  float: left;
  margin-left: 10px;
  margin-top: 63px;
}

.game_square {
  color: #1057BA;
}

#game {
  /* padding-right: 50%; */
}

#gameboard {
  float: left;
}

#scoreboard {
  /* float: right; */
}
