body {
  padding-left: 15%;
  padding-right: 15%;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.4em;
  text-shadow: 1px 1px #ccf2ff;
  color: #4dd2ff;
  background-image: url('https://orig00.deviantart.net/5f48/f/2010/248/1/1/starscape_wip_1_by_vaniyz-d2y4g9y.png');
  background-size: cover;
}

section {
  padding: 0.2%;
}

p {
  padding-left: 10px;
}

table {
  border: 1px solid ‎#36454F;
  border-spacing: 0px;
}

td {
  border: 1px solid #626260;
  text-align: center;
  min-width: 30px;
  min-height: 40px;
  padding: 4px;
  background: rgba(4, 20, 33, 0.6);
}

form {
  padding-left: 6px;
}
/* .coords {
  background-color: #404040;
  text-align: center;
} */

.title {
  font-size: 2.2em;
  font-weight: bold;
  text-shadow: 2px 1px #ccf2ff;
  padding: 4px;
}

.subtitle {
  font-size: 1.35em;
  padding-left: 10px;
  font-style: italic;
}

.bad {
  color: red;
  text-shadow: 1px 1px #ffcccc;
}

.good {
  color: #39ff14;
  text-shadow: 1px 1px #ccffcc;
}

.board {
  font-size: 1.5em;
}

.board_div {
  float: left;
}

.score_div {
  float: left;
  margin-left: 10px;
  margin-top: 63px;
}

.game_square {
  /* color: #1057BA; */
}

#game {good
  /* padding-right: 50%; */
}

#gameboard {
  float: left;
  padding-left: 6px;
}

.scoreboard {
  /* float: right; */
}
